.img-container{
    float: left;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 45px;
    margin-bottom: 100px;
}
.form-container{
    float: right;
    align-content: center;
    min-width: 500px;
    margin-top: 70px;
    margin-right: 120px;
    min-height: 400px;
}
legend, fieldset{
    border: 2px solid black;
    border-radius: 5px;
    background:white;
    color: black;
}
.input-field {
    width: 90%;
    padding: 10px;
    outline: none;  
    align-content: center;
    border: solid;
    margin: 1px;
    background: linear-gradient(45deg, white ,gray);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
   color: black;
  }
  .btn{
    margin: 10px;
    text-align: center;
  }
body{
    background:white;
}
.button{
	background-color:blue;
	color:white;
    min-width: 100px;
    border-radius: 5px;
    min-height: 40px;
    font-size: medium;
}
legend{
    font-size: 25px;
}
.icon {
    padding: 7px;
    background: blue;
    color: white;
    min-width: 5px;
    max-height: 15px;
    margin: 1.5px;
    border: 2px solid black;
    border-radius:4px; 

  }
  .home{
  margin-left: 20px;
  }