*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(webbg.jpg)50%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 20px;
    margin: 30px;
}


.menu{
width: 400px;
float: left;
height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}
ul li img{
    height: 70px;
    margin-top: 0%;
    padding-right:100px;
    padding: left 5px;;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    transition: 0.4s ease-in-out;

}
ul li a .btn{
    background-color:#ff7200;
    height: 30px;
    width: 70px;
}

ul li a:hover{
    color: orange;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;

}
.content p{
    color: aqua;
    padding-left:100px;
    font-family: Arial;
    letter-spacing: 1.5px;
    line-height: 30px;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content h2{
    padding-left:  80px;
 color: #ff7200;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
.content .cn{
    width: 160px;
    height: 40px;
    background:#ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}
.conntent.cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}
.conntent span{
    color: #ff7200;
    font-size: 60px;

}
.main2{
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(websiteimage.jpg)50%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 20px;
    margin: 30px;
}
.bg{
	background:url(indexbg.jpg);
	background-repeat: no-repeat;
	background-size: 40cm 20cm;
}